CONFIG_IDF_TARGET="esp32p4"
CONFIG_USBIP_BOARD_ESPRESSIF_ESP32P4_FUNCTION_EV=y
CONFIG_USBIP_TRANSPORT_ETHERNET=y

# On P4, USB Serial/JTAG console does not conflict with USB host mode.
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# ESP32-P4-Function-EV Ethernet RMII defaults
CONFIG_USBIP_ETH_MDC_GPIO=31
CONFIG_USBIP_ETH_MDIO_GPIO=52
CONFIG_USBIP_ETH_PHY_ADDR=1
CONFIG_USBIP_ETH_PHY_RST_GPIO=51
