CONFIG_IDF_TARGET="esp32p4"
CONFIG_USBIP_BOARD_P4HIL_BOARD=y
CONFIG_USBIP_TRANSPORT_ETHERNET=y

# On P4, USB Serial/JTAG console does not conflict with USB host mode.
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

CONFIG_USBIP_VIRTUAL_LOGIC_ANALYZER=y

CONFIG_USBIP_ETH_MDC_GPIO=53
CONFIG_USBIP_ETH_MDIO_GPIO=54
CONFIG_USBIP_ETH_PHY_ADDR=1
CONFIG_USBIP_ETH_PHY_RST_GPIO=52