CONFIG_IDF_TARGET="esp32s3"
CONFIG_USBIP_BOARD_ESPRESSIF_ESP32S3_USB_OTG=y
CONFIG_USBIP_TRANSPORT_WIFI=y

# Set these for your Wi-Fi network before flashing.
CONFIG_USBIP_WIFI_SSID="circuitwifi2.4"
CONFIG_USBIP_WIFI_PASSWORD="circuitpython"
CONFIG_USBIP_WIFI_MAX_RETRY=8
CONFIG_USBIP_WIFI_AUTHMODE=2

# ESP32-S3-USB-OTG board host-power control GPIO defaults
CONFIG_USBIP_S3_USB_OTG_DEVKIT_POWER=y
CONFIG_USBIP_S3_USB_BOOST_EN_GPIO=13
CONFIG_USBIP_S3_USB_DEV_VBUS_EN_GPIO=12
CONFIG_USBIP_S3_USB_LIMIT_EN_GPIO=17
CONFIG_USBIP_S3_USB_SEL_GPIO=18

# Disable virtual logic analyzer on this board
# CONFIG_USBIP_VIRTUAL_LOGIC_ANALYZER is not set
